.board-row{
  margin:20px;
}
.box{
  width:100px;
  height:100px;
  font-size:48px;
  font-weight:bold;
  border-radius:6px;
  color:white;
  background-color:grey;
  border:none;
  box-shadow: 10px 10px 8px green;
  margin-left: 20px;
}
.x{
  color:white;
}
.o{ 
  color:aqua; 
}